<section id="section-home">
  <div class="eligibility-block">
    <div class="col left-block">
      <div class="home-header-block">
        <p class="home-header-text">
          We make it Super <br> Simple
        </p>
      </div>
      <div class="client-interaction">
        <img src="assets/images/collect_img-video.png" alt="">
      </div>
    </div>

    <div class="col">
      <div class="card">
        <label for="">label for inputs</label>
        <input type="text"><label for="">label for inputs</label>
        <input type="text"><label for="">label for inputs</label>
        <input type="text"><label for="">label for inputs</label>
        <input type="text"><label for="">label for inputs</label>
        <input type="text">
        <button class="button button--secondary">Login</button>
      </div>
    </div>
  </div>
</section>
<section id="section-home">
  <div class="eligibility-block">
    <div class="col left-block">
      <div class="home-header-block">
        <p class="home-header-text">
          We make it Super <br> Simple
        </p>
      </div>
      <div class="client-interaction">
        <img src="assets/images/collect_img-video@2x.png" alt="">
      </div>
    </div>

    <div class="col">
      <div class="card">
        <label for="">label for inputs</label>
        <input type="text"><label for="">label for inputs</label>
        <input type="text"><label for="">label for inputs</label>
        <input type="text"><label for="">label for inputs</label>
        <input type="text"><label for="">label for inputs</label>
        <input type="text">
        <button class="button button--secondary">Login</button>
      </div>
    </div>
  </div>
</section>
