#section-home {
  margin-top: 12.5rem;
  .eligibility-block {
    padding-top: 7rem;
    display: flex;
    gap: 8rem;
    .col {
      flex: 1;
    }
    .left-block {
      padding-left: 7rem;

      .client-interaction {
        img {
          height: 30rem;
          width: 90%;
        }
      }
    }
    .right-block {
      display: flex;
      align-items: center;
      gap: 1rem;
      .card {
        width: 55%;
        border-radius: 2rem;
        box-shadow: 0px 0px 20px #00000033;

        .card-header {
          padding: 1rem;
          font-size: 1.6rem;
          text-align: center;
          background: rgb(241 233 254 / 21%);
          border-radius: 2rem 2rem 0 0;
        }
        .card-body {
          padding: 0 3rem 3rem 3rem;
        }
      }
      .small-card {
        border-radius: 0 1rem 1rem 0;
        background: linear-gradient(180deg, #9f62c9 30%, #663399 100%) 0% 0% no-repeat padding-box;
        width: 30%;
        box-shadow: 0px 0px 20px #00000033;
        .card-body {
          padding: 6rem 1rem;
          text-align: center;
          .text {
            &-small {
              font-size: 1.2rem;
            }
            &-bold {
              font-size: 1.6rem;
              font-weight: 400;
              margin-bottom: 2rem;
            }
          }
        }
      }
    }
  }
  .booking-block {
    display: flex;
    gap: 1rem;
    .col {
      flex: 1;
    }
    .box-container {
      display: flex;
      padding-left: 7rem;
      gap: 2rem;
      .col-box {
        &-odd {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
        &-even {
          width: 100%;
        }
      }
      .box {
        border-radius: 3rem;
        box-shadow: 0px 0px 20px #00000033;
        padding: 3rem;
        width: 100%;
        margin-bottom: 2rem;
        transition: 1s linear;
        img {
          width: 9rem;
          height: 9rem;
        }
        h2 {
          margin-top: 1rem;
          margin-bottom: 0.5rem;
        }
        p {
          font-size: 1.5rem;
        }
        &:hover {
          background-color: rgb(102 51 153 / 60%);
          color: #fff;
        }
      }
    }
    .open-account {
      margin-left: 6rem;
      margin-top: 25rem;

      &--info {
        font-size: 1.8rem;
        margin: -4rem 5rem 5rem 5rem;
      }
      &--button {
        margin-left: 5rem;
        width: 35%;
      }
    }
  }
}

.home-header {
  &-block {
    letter-spacing: 2px;
    margin-left: 5rem;
    margin-bottom: 5rem;
    &::after {
      content: "";
      display: inline-block;
      border-radius: 13px;
      opacity: 0.7;
      width: 17rem;
      background-color: #000;
      height: 0.8rem;
    }
  }
  &-text {
    font-size: 4rem;
    font-weight: 600;
    font-style: normal;
  }
}
